@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    font-family: "Nanum Gothic", sans-serif;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.cameraSlider[type="range"][orient="vertical"],
.speedSlider[type="range"][orient="vertical"] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

html,
body {
    background: whitesmoke;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
}
.top {
    height: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom {
    height: 40%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stop_button {
    background: red;
    color: whitesmoke;
    margin: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.sliderContainer {
    position: relative;
    margin: 1rem;
    padding: 2.5rem;
}
.cameraSlider {
    margin: 1.5rem;
}
.cameraSlider::before {
    content: "-CAMERA-";
    position: absolute;
    bottom: 0;
    left: 15%;
}

.speedSlider {
    margin: 1.5rem;
}
.speedSlider::before {
    content: "-SPEED-";
    position: absolute;
    bottom: 0;
    left: 20%;
}

.bottomSlider {
    height: 3rem;
}
.steeringSlider::after {
    content: "-ANGOLO STERZATA-";
    position: absolute;
    bottom: 0;
    left: 23%;
}
.out {
    font-size: 1.5rem;
    color: blue;
    font-weight: bold;
}
.video {
    width: 55%;
    height: 75%;
    background: rgb(170, 170, 228);
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
}
.header {
    background: rgba(11, 11, 186, 0.605);
}

.header__logo {
    width: 15%;
}

.header__menu {
    float: right;
    margin: 0;
    padding: 0.4em;
}

.header__menu__item {
    color: #fff;
    background-color: #444;
    display: inline-table;
    vertical-align: middle;
    text-decoration: none;
    padding: 0.9em;
    border: 0px solid black;
    border-radius: 1em;
}

.header__menu__item:hover {
    background: #222;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
