* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.side-menu 
{
  height: 100vh;
  overflow-y: auto;
}



/*image properties*/
.Logo_rotas
{

  text-align: center;
  background-color: rgb(241,242,243);
  border-radius: 0.4rem;
  transition: 0.3s;
}
.Logo_rotas:hover
{
  box-shadow: 0 0 1rem rgb(241,242,243);
  cursor: pointer;
}
.Logo_rotas img
{
  min-width: 0.5rem;
  max-width: 8rem;
}

/*status indicator*/
.connection_indicator::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  vertical-align: -0.5rem;
  display: inline-block;
}
.connection_indicator.on::before {
  background-color: rgb(255, 0, 0);
  box-shadow: 0 0 15px rgb(255, 0, 0);
}
.connection_indicator.off::before {
  background-color: rgb(204, 204, 204);
}

/*battery level box*/
.progress-bar 
{
  max-width: 15rem;
  height: 2rem;

  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
}
.progress 
{
  height: 2rem;
  background-color: #4CAF50;
  display: flex;
  flex-direction: column;
}
.cent, .batt
{
  padding-left: 0;
  font-size: 1rem;
}

/*error indicator for data receive*/
.error-message::before {
  content: "!";
  font-weight: bold;
  font-size: medium;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  text-align: center;
  text-align: 1rem;
  margin-right: 0.4rem;
  vertical-align: 0.1rem;
  display: inline-block;
}

.controller{
  
  width: 26vh;
  height: 26vh;

}

.controller svg{
  width: 100%;
  height: 100%;
}

#joystick-draggable{
  display:none;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 900;

}

#drag-overlay {
  display:none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 900;
  border-radius: 50%;
  background-color: rgba(255, 255, 0, 0.5); /* Colore giallo trasparente */
  cursor: move;
}

#joystick {

  display:none;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 900;
  transform: translate(-50%, -50%);
  touch-action: none;
}