@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    font-family: "Nanum Gothic", sans-serif;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

input {
    width: 20rem;
}
.cameraSlider[type="range"][orient="vertical"],
.speedSlider[type="range"][orient="vertical"] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 10px !important;
    height: 100% !important;
    padding: 0 5px !important;
    margin: 0 auto !important;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    background-image: whitesmoke;
    opacity: 0.95;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

.video_container {
    background-color: red;
    margin: 0 auto;
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.videofeed {
    opacity: 1 !importan;
    width: 100%;
}

.controls {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 20rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
}
.sliders_wrap {
    position: relative;
    width: 35rem;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "speed camera" "steer steer";
}

.speedContainer {
    grid-area: speed;
    padding: 1rem;
}
.cameraContainer {
    grid-area: camera;
    padding: 1rem;
}
.steeringContainer {
    grid-area: steer;
    padding: 1rem;
}
.stop_button {
    width: 60%;
    background: #cf0303;
    color: whitesmoke;
    height: 2rem;
    margin: 1rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem;
}

.button_container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.out {
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: bold;
}

.r-cont {
    display: grid;
    place-items: center;
}
.video {
    width: 55%;
    height: 75%;
    background: rgb(170, 170, 228);
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
}

.range_label {
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: bold;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #087172;
    opacity: 0.6;
}

.header__logo {
    width: 15%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
